<form mix-post="/api-create-travel" autocomplete="off">
    
    <div>
        <label for="">
            Title <span>Minimum {{ x.TRAVEL_TITLE_MIN }} and maximum {{ x.TRAVEL_TITLE_MAX }} characters</span>
        </label>
        <input name="travel_title" type="text" placeholder="Travel title" 
        mix-validate="{{x.REGEX_TRAVEL_TITLE}}">
    </div>
    <div>
        <label for="">
            Title <span>Minimum {{ x.TRAVEL_COUNTRY_MIN }} and maximum {{ x.TRAVEL_COUNTRY_MAX }} characters</span>
        </label>
        <input name="travel_country" type="text" placeholder="Country" 
        mix-validate="{{x.REGEX_TRAVEL_COUNTRY}}">
    </div>
    <div>
        <label for="">
            Title <span>Minimum {{ x.TRAVEL_LOCATION_MIN }} and maximum {{ x.TRAVEL_LOCATION_MAX }} characters</span>
        </label>
        <input name="travel_location" type="text" placeholder="Location" 
        mix-validate="{{x.REGEX_TRAVEL_LOCATION}}">
    </div>


    <button>
        Create travel
    </button>
</form>