<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/static/app.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    
    <script src="../static/app.js"></script>
    <title>Travel App</title>
</head>
<body>

    <div id="tooltip"></div>

    <nav>
        <div>
        </div>
        
        {% if not user %}
        <a href="/login">Login</a>
        <a href="/signup">Signup</a>
        {% else %}
        <a href="/travels">Travels</a>
        <a href="/edit_travels">Edit travels</a>
        <a href="/create_travel">Create travel</a>
        <a href="/profile">My profile</a>
        <a href="/logout">Logout</a>
        {% endif %}
        <div>
        </div>
    </nav>