{% include "_header.html" %}

<main>
        {% include "___create_travels.html" %}

        {% for travel in travels %}
        <div>
                <h2>
                        {{ travel.title }}
                </h2>
                <h3>
                        {{ travel.country }}
                </h3>
                <p>
                        {{ travel.location }}
                </p>
                <p>
                        {{ travel.start_date }}
                </p>
                <p>
                        {{ travel.end_date }}
                </p>
                <p>
                        {{ travel.description }}
                </p>
        </div>
        {% endfor %}
</main>

{% include "_footer.html" %}
    